# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build
/[Bb]uild/

# Backup
/[Bb]ackup/

# Tools
/[Tt]ools/

# Others
anotaçoes.txt
Navinha.elf
Navinha.gba
Navinha.sav
Navinha.cheats
Navinha.code-workspace
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
Navinha.map
Spacenova.elf
Spacenova.gba
Spacenova.sav
bn_ofiles.txt