# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build
/[Bb]uild/

# Backup
/[Bb]ackup/

# Others
anotaçoes.txt
Navinha.elf
Navinha.gba
Navinha.sav
Navinha.cheats
Navinha.code-workspace
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
Navinha.map
tools/index.html
Spacenova.elf
Spacenova.gba
bn_ofiles.txt
bn_ofiles.txt
tools/Spacenova-0.png
tools/Spacenova-1.png
tools/Spacenova-2.png
tools/Spacenova-3.png
tools/Spacenova.sav
tools/Spacenova.zip
tools/Spacenova_Web.zip
Spacenova.sav
bn_ofiles.txt
